{% extends 'posts/page_template.html' %}

{% block content %}
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Исполнитель</th>
        <th>Название альбома</th>
    </tr>
    {% for i in queryset%}
        <tr>
            <td>{{ i.album_id }}</td>
            <td>{{ i.artist_id }}</td>
            <td>{{ i.album_name }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<input class="add-element-button" type="button" value="Добавить" id="add-album-button">
{% endblock %}
