{% extends 'posts/page_template.html' %}

{% block content %}
<table border="1" width="100%">
    <tr>
        <th>Исполнитель</th>
        <th>Начало карьеры</th>
    </tr>
    {% for i in queryset%}
        <tr>
            <td><a href="/posts/artists/{{ i.artist_id }}">{{ i.artist_name }}</a></td>
            <td>{{ i.artist_start_career_date }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<input class="add-element-button" type="button" value="Добавить" id="add-artist-button">
{% endblock %}
