<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Композиция</title>
</head>
<style>
    body{
    background-color: #66665e;
}
a {
    color:#000000;
    text-decoration: none;
}
    .add-element-button{
    padding: 10px;
    margin-left: 30px;
    background-color: var(--title-bg-color);
    font-weight: bold;
}
</style>
<body>
{% for i in queryset %}
        <div>ID: {{i.composition_id}}</div>
        <div>Жанр: {{i.genre_id}}</div>
        <div>Исполнитель: {{i.artist_id}}</div>
        <div>Альбом: {{i.album_id}}</div>
        <div>Название: {{i.composition_title}}</div>
        <div>Длительность: {{i.composition_duration}}</div>
        <div>Текст: {{i.composition_text}}</div>
<br>
<a class="add-element-button" href="/posts/compositions/change/{{i.composition_id}}">Изменить</a>
<a href="/posts/">На главную</a>
{% endfor %}

</body>
<script src="{% static 'script/listeners.js' %}"></script>
</html>
